extends layout

block body
  md-toolbar(ng-show='!showSearch')
    div.md-toolbar-tools
      md-button.menuBtn(ng-click="toggleSidenav('left')", aria-label='Menu')
        ng-md-icon(icon='menu')
      h3
        strong Farser  
      h6 ~ A web based javascript HL7 message parser
      span(flex)
      md-button(aria-label='Search', ng-click='showSearch = !showSearch')
        ng-md-icon(icon='search')
      md-button(aria-label='Open Settings', ng-click='showListBottomSheet($event)')
        ng-md-icon(icon='more_vert')
    //- md-tabs.md-primary(md-stretch-tabs='always', md-selected='data.selectedIndex')
    //-   md-tab(id='tab1', aria-controls='tab1-content')
    //-     md-tab-label
    //-       span(ui-sref='/view1') Latest
    //-   md-tab(id='tab2', aria-controls='tab2-content')
    //-     md-tab-label
    //-       span(ui-sref='/view2') Favorites
  md-toolbar.md-hue-1(ng-show='showSearch')
    div.md-toolbar-tools
      md-button(ng-click='showSearch = !showSearch', aria-label='Back')
        ng-md-icon(icon='arrow_back')
      h3(flex='10') Back
      md-input-container(md-theme='input', flex)
        label &nbsp;
        input(ng-model='search.who', placeholder='enter search')
      md-button(aria-label='Search', ng-click='showSearch = !showSearch')
        ng-md-icon(icon='search')
      md-button(aria-label='Open Settings', ng-click='showListBottomSheet($event)')
        ng-md-icon(icon='more_vert')
  md-sidenav.md-sidenav-left.md-whiteframe-z3(layout='column', flex, md-component-id='left', md-is-locked-open="$mdMedia('')")
    md-toolbar.md-tall.md-hue-2
      span(flex)
      div.md-toolbar-tools-bottom(layout='column', inset)
        user-avatar
        span
        div Hello {{ name }}
        div {{ email }}
    md-list
      md-item(ng-repeat='item in menu')
        a
          md-item-content(md-ink-ripple, layout='row', layout-align='start center')
            div.inset
              ng-md-icon(icon='{{ item.icon }}')
            div.inset {{ item. title }}
      md-divider
      md-subheader Management
      md-item(ng-repeat='item in admin ')
        a
          md-item-content(md-ink-ripple, layout='row', layout-align='start center')
            div.inset
              ng-md-icon(icon='{{ item.icon }}')
            div.inset {{ item.title }}
  //div(layout='column', flex, id='content')
  md-content(flex, md-scroll-y)
    ui-view(layout='column', layout-fill, layout-padding)
      div.inset(hide-sm ng-view)
        
  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-animate/angular-animate.min.js')
  script(src='bower_components/angular-aria/angular-aria.min.js')  
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/angular-material/angular-material.min.js')
  script(src='bower_components/angular-material-icons/angular-material-icons.min.js')
  script(src='bower_components/angular-material-data-table/dist/md-data-table.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69135965-1', 'auto');
    //ga('send', 'pageview');
