/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

md-sidenav {
  fill: #737373;
}

md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.md-toolbar-tools-bottom {
  font-size: small;
}

.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-tab-item span {
        padding: 15px;
        margin: -15px;
      }
